In [70]:
import pandas as pd
import glob
import os

# Ruta de la carpeta que contiene los archivos CSV
carpeta = '../data/raw'

In [71]:

# Buscar todos los archivos CSV en la carpeta
archivos_csv = glob.glob(os.path.join(carpeta, "*.csv"))

# Leer y concatenar los archivos CSV en un único DataFrame
dataframes = [pd.read_csv(f) for f in archivos_csv]
df_concatenado = pd.concat(dataframes, ignore_index=True)

# Visualizar los primeros registros
print(df_concatenado.head())

  tourney_id tourney_name surface  draw_size tourney_level  tourney_date
0   2000-717      Orlando    Clay       32.0             A    20000501.0  \
1   2000-717      Orlando    Clay       32.0             A    20000501.0
2   2000-717      Orlando    Clay       32.0             A    20000501.0
3   2000-717      Orlando    Clay       32.0             A    20000501.0
4   2000-717      Orlando    Clay       32.0             A    20000501.0

   match_num  winner_id  winner_seed winner_entry  ... l_ace l_df  l_svpt
0        1.0   102179.0          NaN          NaN  ...  13.0  4.0   110.0  \
1        2.0   103602.0          NaN            Q  ...   0.0  0.0    57.0
2        3.0   103387.0          NaN          NaN  ...   2.0  2.0    65.0
3        4.0   101733.0          NaN          NaN  ...   4.0  6.0   104.0
4        5.0   101727.0          4.0          NaN  ...   0.0  3.0    47.0

  l_1stIn  l_1stWon  l_2ndWon  l_SvGms  l_bpSaved  l_bpFaced
0    59.0      49.0      31.0     17.0        4.0        4.0  \
1    24.0      13.0      17.0     10.0        4.0        9.0
2    39.0      22.0      10.0      8.0        6.0       10.0
3    57.0      35.0      24.0     15.0        6.0       11.0
4    28.0      17.0      10.0      8.0        3.0        6.0

  tourney_id;tourney_name;surface;draw_size;tourney_level;tourney_date;match_num;winner_id;winner_seed;winner_entry;winner_name;winner_hand;winner_ht;winner_ioc;winner_age;winner_rank;winner_rank_points;loser_id;loser_seed;loser_entry;loser_name;loser_hand;loser_ht;loser_ioc;loser_age;loser_rank;loser_rank_points;score;best_of;round;minutes;w_ace;w_df;w_svpt;w_1stIn;w_1stWon;w_2ndWon;w_SvGms;w_bpSaved;w_bpFaced;l_ace;l_df;l_svpt;l_1stIn;l_1stWon;l_2ndWon;l_SvGms;l_bpSaved;l_bpFaced
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 50 columns]

In [72]:
df_concatenado.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,tourney_id;tourney_name;surface;draw_size;tourney_level;tourney_date;match_num;winner_id;winner_seed;winner_entry;winner_name;winner_hand;winner_ht;winner_ioc;winner_age;winner_rank;winner_rank_points;loser_id;loser_seed;loser_entry;loser_name;loser_hand;loser_ht;loser_ioc;loser_age;loser_rank;loser_rank_points;score;best_of;round;minutes;w_ace;w_df;w_svpt;w_1stIn;w_1stWon;w_2ndWon;w_SvGms;w_bpSaved;w_bpFaced;l_ace;l_df;l_svpt;l_1stIn;l_1stWon;l_2ndWon;l_SvGms;l_bpSaved;l_bpFaced
0,2000-717,Orlando,Clay,32.0,A,20000501.0,1.0,102179.0,NaN,NaN,...,13.0,4.0,110.0,59.0,49.0,31.0,17.0,4.0,4.0,NaN
1,2000-717,Orlando,Clay,32.0,A,20000501.0,2.0,103602.0,NaN,Q,...,0.0,0.0,57.0,24.0,13.0,17.0,10.0,4.0,9.0,NaN
2,2000-717,Orlando,Clay,32.0,A,20000501.0,3.0,103387.0,NaN,NaN,...,2.0,2.0,65.0,39.0,22.0,10.0,8.0,6.0,10.0,NaN
3,2000-717,Orlando,Clay,32.0,A,20000501.0,4.0,101733.0,NaN,NaN,...,4.0,6.0,104.0,57.0,35.0,24.0,15.0,6.0,11.0,NaN
4,2000-717,Orlando,Clay,32.0,A,20000501.0,5.0,101727.0,4.0,NaN,...,0.0,3.0,47.0,28.0,17.0,10.0,8.0,3.0,6.0,NaN

In [73]:
df_concatenado.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,winner_rank,winner_rank_points,loser_id,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
count,50179.000000,5.017900e+04,50179.000000,50179.000000,20797.000000,47572.000000,50167.000000,49132.000000,49132.000000,50179.000000,...,44451.000000,44451.000000,44451.000000,44451.000000,44451.000000,44451.000000,44451.000000,44451.000000,44451.000000,44451.000000
mean,52.889675,2.007355e+07,26.463122,103912.882222,7.233062,185.565017,25.902493,82.338700,1494.859257,103977.185775,...,5.029493,4.962588,3.369598,80.143866,47.634541,31.679242,14.939191,12.171132,4.750422,8.623608
std,38.631478,4.600528e+04,26.815736,1623.111462,6.657105,6.726959,3.577284,145.924817,1936.672951,1947.311573,...,4.020617,4.745265,2.520632,28.983687,19.011993,14.202139,7.255294,4.194847,3.249433,4.110891
min,4.000000,2.000010e+07,1.000000,100644.000000,1.000000,163.000000,15.715264,1.000000,1.000000,100644.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.000000,2.003091e+07,7.000000,103176.000000,3.000000,180.000000,23.282683,18.000000,528.000000,103133.000000,...,2.000000,2.000000,2.000000,59.000000,34.000000,22.000000,10.000000,9.000000,2.000000,6.000000
50%,32.000000,2.007072e+07,19.000000,103888.000000,5.000000,185.000000,25.815195,44.000000,884.000000,103852.000000,...,4.000000,4.000000,3.000000,75.000000,44.000000,29.000000,14.000000,11.000000,4.000000,8.000000
75%,64.000000,2.011082e+07,32.000000,104597.000000,9.000000,190.000000,28.394251,86.000000,1590.000000,104597.000000,...,7.000000,7.000000,5.000000,96.000000,58.000000,39.000000,19.000000,15.000000,7.000000,11.000000
max,128.000000,2.015113e+07,127.000000,200537.000000,35.000000,208.000000,39.627652,2101.000000,15785.000000,200273.000000,...,30.000000,103.000000,23.000000,489.000000,328.000000,284.000000,101.000000,91.000000,25.000000,34.000000

In [74]:
df_concatenado.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'winner_rank', 'winner_rank_points', 'loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'loser_rank', 'loser_rank_points', 'score', 'best_of',
       'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced',
       'tourney_id;tourney_name;surface;draw_size;tourney_level;tourney_date;match_num;winner_id;winner_seed;winner_entry;winner_name;winner_hand;winner_ht;winner_ioc;winner_age;winner_rank;winner_rank_points;loser_id;loser_seed;loser_entry;loser_name;loser_hand;loser_ht;loser_ioc;loser_age;loser_rank;loser_rank_points;score;best_of;round;minutes;w_ace;w_df;w_svpt;w_1stIn;w_1stWon;w_2ndWon;w_SvGms;w_bpSaved;w_bpFaced;l_ace;l_df;l_svpt;l_1stIn;l_1stWon;l_2ndWon;l_SvGms;l_bpSaved;l_bpFaced'],
      dtype='object')

In [75]:
# Guardar el DataFrame en un archivo CSV
df_concatenado.to_csv('../data/join/join.csv', index=False)

In [76]:
valores_unicos_lista = df_concatenado['winner_name'].unique().tolist()
print(valores_unicos_lista)

['Antony Dupuis', 'Fernando Gonzalez', 'Paradorn Srichaphan', 'Jan Siemerink', 'Jason Stoltenberg', 'Jiri Vanek', 'Martin Rodriguez', 'Paul Goldstein', 'Nicolas Massu', 'Jan Kroslak', 'Michael Russell', 'Gianluca Pozzi', 'Razvan Sabau', 'Markus Hantschk', 'Xavier Malisse', 'Ramon Delgado', 'Andre Agassi', 'Michal Tabara', 'Jeff Tarango', 'Magnus Larsson', 'Sargis Sargsian', 'Chris Woodruff', 'Todd Woodbridge', 'Julian Alonso', 'Michael Chang', 'Andrew Ilie', 'Stephane Huet', 'Stefan Koubek', 'Yevgeny Kafelnikov', 'Daniel Vacek', 'Fabrice Santoro', 'Hicham Arazi', 'Mariano Zabaleta', 'Cyril Saulnier', 'Jerome Golmard', 'Greg Rusedski', 'Cedric Pioline', 'Karol Kucera', 'Thomas Enqvist', 'Dominik Hrbaty', 'Marc Rosset', 'Goran Ivanisevic', 'Roger Federer', 'Arnaud Clement', 'Wayne Ferreira', 'Arnaud Di Pasquale', 'Andrei Pavel', 'Nicolas Lapentti', 'Lleyton Hewitt', 'Julien Boutter', 'Jiri Novak', 'Byron Black', 'Marcelo Rios', 'Jens Knippschild', 'Pete Sampras', 'Justin Gimelstob', 'Agustin Calleri', 'Petr Kralert', 'Tommy Haas', 'Rainer Schuettler', 'Hyung Taik Lee', 'Franco Squillari', 'Tim Henman', 'Richard Krajicek', 'Andre Sa', 'Karim Alami', 'Alexander Popp', 'Marat Safin', 'Sebastien Grosjean', 'Daniel Nestor', 'Hernan Gumy', 'Juan Carlos Ferrero', 'Nicolas Kiefer', 'Jonas Bjorkman', 'Sjeng Schalken', 'Adrian Voinea', 'Max Mirnyi', 'Albert Costa', 'Magnus Norman', 'Alex Corretja', 'Slava Dosedel', 'Carlos Moya', 'Todd Martin', 'Mark Philippoussis', 'Jan Michael Gambill', 'Thomas Johansson', 'Galo Blanco', 'Richard Fromberg', 'Wayne Arthurs', 'David Prinosil', 'Andrei Stoliarov', 'Jared Palmer', 'Vladimir Voltchkov', 'Alex Calatrava', 'Christian Ruud', 'Brian Macphie', 'Tomas Zib', 'Orlin Stanoytchev', 'Davide Sanguinetti', 'Harel Levy', 'Laurence Tieleman', 'Axel Pretzsch', 'Mark Woodforde', 'Cecil Mamiit', 'Richey Reneberg', 'Jeff Salzenstein', 'Mikael Tillstrom', 'Nicolas Escude', 'Patrick Rafter', 'Gustavo Kuerten', 'Francisco Clavet', 'Filip Dewulf', 'Peter Wessels', 'Sergi Bruguera', 'Kevin Kim', 'Younes El Aynaoui', 'Nicolas Coutelot', 'Mariano Puerta', 'Reginald Willems', 'Fernando Vicente', 'Herbert Wiltschnig', 'Christophe Rochus', 'Alex Lopez Moron', 'Andreas Vinciguerra', 'Raemon Sluiter', 'Leander Paes', 'Fredrik Jonsson', 'Wayne Black', 'Michael Hill', 'James Sekulov', 'Albert Portas', 'Michael Llodra', 'Tomas Behrend', 'Kevin Ullyett', 'Grant Stafford', 'Juan Ignacio Chela', 'Alejandro Hernandez', 'Gaston Gaudio', 'Guillermo Canas', 'Fernando Meligeni', 'Ronald Agenor', 'Magnus Gustafsson', 'Martin Damm', 'Karsten Braasch', 'Mikhail Youzhny', 'Alberto Martin', 'Dejan Petrovic', 'Christian Vinck', 'Jean Rene Lisnard', 'Lars Burgsmuller', 'Ivan Ljubicic', 'Bohdan Ulihrach', 'Wolfgang Schranz', 'Marzio Martelli', 'Roberto Carretero', 'Juan Antonio Marin', 'David Sanchez', 'German Puentes', 'Andy Roddick', 'Michel Kratochvil', 'Mardy Fish', 'Jim Courier', 'George Bastl', 'Andrei Medvedev', 'Felix Mantilla', 'Guillermo Coria', 'Alberto Berasategui', 'Andrea Gaudenzi', 'Renzo Furlan', 'Diego Nargiso', 'Attila Savolt', 'Juan Balcells', 'Marc Kevin Goellner', 'Dinu Pescariu', 'Michael Kohlmann', 'Jean Francois Bachelot', 'Oscar Burrieza', 'Emilio Benfele Alvarez', 'Mariano Hood', 'Adrian Garcia', 'Jonathan Erlich', 'Jamie Delgado', 'Markus Hipfl', 'Michael Sell', 'John Van Lottum', 'Neville Godwin', 'Olivier Rochus', 'Alex Obrien', 'Vincent Spadea', 'Martin Lee', 'Arvind Parmar', 'Justin Bower', 'Sebastien Lareau', 'Lionel Roux', 'Gouichi Motomura', 'Taylor Dent', 'Simon Larose', 'Salvador Navarro', 'Ville Liukko', 'Johan Ortegren', 'Jonas Froberg', 'Mike Bryan', 'Thierry Guardiola', 'Jacobo Diaz', 'Barry Cowan', 'Lorenzo Manta', 'Tuomas Ketola', 'Federico Browne', 'Gaston Etlis', 'Kristian Pless', 'Kristian Capalik', 'Paul Henri Mathieu', 'Federico Luzzi', 'David Wheaton', 'Bob Bryan', 'Scott Draper', 'Edwin Kempes', 'Dennis Van Scheppingen', 'Sergio Roitman', 'Nikolay Davydenko', 'Ivo Heuberger', 'Daniel Elsner', 'Cristiano Caratti', 'Andrei Cherkasov', 'Stefano Tarallo', 'Juan Albert Viloca Puig', 'Nicolas Thomann', 'Leos Friedl', 'Takao Suzuki', 'Kalle Flygt', 'Yong Il Yoon', 'Eric Taino', 'Sebastian Prieto', 'Marcelo Charpentier', 'Werner Eschauer', 'Lee Childs', 'Jimy Szymanski', 'Jose De Armas', 'Yohny Romero', 'Oscar Posada', 'Marco Osorio', 'Luis Horna', 'Luis Adrian Morejon', 'Vadim Kutsenko', 'Oleg Ogorodov', 'Mark Nielsen', 'Dimitri Mazur', 'Fazaluddin Syed', 'Jarkko Nieminen', 'Ben Qiang Zhu', 'Danai Udomchoke', 'Yaoki Ishii', 'Y WANG', 'Ali Hamadeh', 'Alberto Brause', 'Federico Dondo', 'Marcel Felder', 'Lazaro Navarro Batles', 'Ricardo Chile Fonte', 'Bing Chao Lin', 'Aisam Ul Haq Qureshi', 'Chia Yen Tsai', 'Suwandi Suwandi', 'Febi Widhiyanto', 'Carlos Drada', 'Mark Merklein', 'Eduardo Rincon', 'Michael Quintero', 'Mariano Sanchez', 'Hendri Susilo Pramono', 'Wei Jen Cheng', 'Melvin Tong', 'Alexey Kedryuk', 'Wing Luen Wong', 'Johnny Arcilla', 'Ramin Raziyani', 'Anoosha Shahgholi', 'Mario Ancic', 'Lovro Zovko', 'Scott Barron', 'Gilles Muller', 'Peter Clarke', 'Frederik Fetterlein', 'Baris Ergun', 'Claude Ngoran', 'Rolandas Murashka', 'Aivaras Balzekas', 'Karim Maamoun', 'Andrej Kracman', 'Marko Tkalec', 'Rene Busch', 'Krystian Pfeiffer', 'Bartlomiej Dabrowski', 'Marcin Matkowski', 'Ivaylo Traykov', 'Solon Peppas', 'Vasilis Mazarakis', 'Jan Frode Andersen', 'Ivo Karlovic', 'Valentin Sanon', 'Patrik Langvardt', 'Bob Borella', 'Konstantinos Economidis', 'Pascal Schaul', 'Raimonds Sproga', 'Mustafa Azkara', 'Efe Ustundag', 'Gert Vilms', 'Andrei Luzgin', 'Mait Kunnap', 'Lior Mor', 'Giovanni Lapentti', 'Paul Haarhuis', 'Bernardo Mota', 'Emanuel Couto', 'Americo Venero Montes', 'Ivan Miranda', 'Francisco Costa', 'Frederic Niemeyer', 'Hermes Gamonal', 'Rafael Avalos Brenes', 'Jacobo Chavez', 'Luis Perez Chete', 'Sandor Martinez Breijo', 'Francisco Rodriguez', 'Paulo Carvallo', 'Selvam Veerasingam', 'Hazuan Hizan', 'Alistair Hunt', 'Andrey Dernovskiy', 'Orest Tereshchuk', 'Maurice Ruah', 'Tommy Robredo', 'Dmitry Tursunov', 'David Nalbandian', 'James Blake', 'Bjorn Phau', 'Jack Brasington', 'Robby Ginepri', 'Alexander Peya', 'Gabriel Trifu', 'Jan Vacek', 'Oliver Marach', 'Hugo Armando', 'Alexandre Simoni', 'Gilles Elseneer', 'Glenn Weiner', 'Kenneth Carlsen', 'Jose Acasuso', 'Johan Settergren', 'Olivier Mutis', 'Marcos Ondruska', 'Albert Montanes', 'Mauricio Hadad', 'Miguel Tobon', 'Ignacio Hirigoyen', 'Irakli Labadze', 'Michael Tebbutt', 'Takahiro Terachi', 'Noam Behr', 'Ruben Ramirez Hidalgo', 'Marc Lopez', 'Vincenzo Santopadre', 'Noam Okun', 'Alex Kim', 'Michael Joyce', 'Flavio Saretta', 'Nicolas Mahut', 'Robin Soderling', 'Oliver Gross', 'Jurgen Melzer', 'Hiroki Kondo', 'Ota Fukarek', 'Nenad Zimonjic', 'Feliciano Lopez', 'Julien Benneteau', 'Oscar Serrano', 'Carlos Cuadrado', 'Ricardo Mello', 'Rogier Wassen', 'Yves Allegro', 'Mark Knowles', 'Yu Zhang', 'Jing Zhu Yang', 'Gergely Kisgyorgy', 'John Doran', 'Tsolak Gevorgyan', 'Andrei Gorban', 'Sergei Cuptov', 'Helge Koll Frafjord', 'Alti Vahkal', 'Mike Scheidweiler', 'Lukasz Kubot', 'Pablo Bianchi', 'Jean Julien Rojer', 'Jhonson Garcia', 'Victor Estrella', 'Jicham Zaatini', 'Hussain Al Ashwak', 'Jad Ayoub', 'Michael Brown B395', 'Shahab Hassani Nafez', 'Rabi Bouhassoun', 'Samir Saadeldin', 'Jimmy Wang', 'Yen Hsun Lu', 'Julian Knowle', 'Alexander Shvec', 'Mose Navarra', 'Tapio Nurminen', 'Marcelo Barboza', 'Jhonnatan Medina Alvarez', 'Wen Lung Chang', 'Dong Hyun Kim', 'Alejandro Falla', 'Genaro Deleon', 'Mohammad Ghareeb', 'Aqeel Khan', 'Asim Shafik', 'Nomi Qamar', 'Jonathan Printzlau', 'Nikos Rovas', 'Emmanuel Heussner', 'Evghenii Plugariov', 'Ilou Lonfo', 'Janko Tipsarevic', 'Andy Ram', 'Filippo Volandri', 'Peter Handoyo', 'Iztok Bozic', 'Marc Gicquel', 'Gregory Carraz', 'Martin Verkerk', 'Karol Beck', 'Jeff Morrison', 'Stefano Galvani', 'Radek Stepanek', 'Mashiska Washington', 'Brian Vahaly', 'Rafael Nadal', 'Fernando Verdasco', 'Zeljko Krajan', 'David Ferrer', 'Mario Radic', 'Victor Hanescu', 'Julio Silva', 'Alexander Waske', 'Thomas Schiessling', 'Gorka Fraile', 'Thomas Blake', 'Joachim Johansson', 'Didac Perez', 'Alex Bogomolov Jr', 'Juan Giner', 'Giorgio Galimberti', 'Richard Gasquet', 'Sebastien De Chaunac', 'Amir Hadad', 'Dick Norman', 'Mounir El Aarej', 'Frank Dancevic', 'Marcus Sarstrand', 'Kristof Vliegen', 'Henrik Andersson', 'Stefano Pescosolido', 'Benjamin Cassaigne', 'Daniele Bracciali', 'Todd Larkham', 'Joseph Sirianni', 'Jerome Haehnel', 'Genius Chidzikwe', 'Todor Enev', 'Milen Velev', 'Kasper Warming', 'Mik Ledvonova', 'Stian Boretti', 'Mohamed Mamoun', 'Vladimir Pavicevic', 'Dusan Vemic', 'Gilles Kremer', 'Matija Zgaga', 'Henry Adjei Darko', 'Harsh Mankad', 'Yu Jr Wang', 'Dias Doskarayev', 'Anton Tsymbalov', 'Michael Mora', 'Yew Ming Si', 'Miguel Gallardo Valles', 'Mario Monroy', 'Emilio Daniel Baez Britez', 'Pablo Gonzalez', 'Martin Vilarrubi', 'Simon Shen', 'Kim Tiilikainen', 'Cristian Paiz', 'Yanquiel Medina Sobrino', 'Adelo Abadia', 'John Hui', 'Hiu Tung Yu', 'Hee Seok Chung', 'Patrick Chucri', 'Luis Felipe Noriega', 'Oh Hee Kwon', 'Helder Lopes', 'Johny De Leon', 'Carlos Avellan', 'Martin Stiegwardt', 'Sergei Yaroshenko', 'Andis Juska', 'Amro Ghoneim', 'Mohamed Wafa', 'Rik De Voest', 'Wesley Moodie', 'Balazs Veress', 'Gunther Darkey', 'Kwasi Ahenkora', 'F EGYIR', 'Julien Varlet', 'Tomas Berdych', 'Eric Prodon', 'Zack Fleishman', 'Prakash Amritraj', 'Jaymon Crabb', 'Peter Luczak', 'Robert Kendrick', 'Alex Bogdanovic', 'Satoshi Iwabuchi', 'Tasuku Iwami', 'Oscar Hernandez', 'Tomas Tenconi', 'Nicolas Almagro', 'Diego Veronelli', 'Maximilian Abel', 'Rodolphe Cadart', 'Igor Andreev', 'Ion Moldovan', 'Frantisek Cermak', 'Rajeev Ram', 'Chris Guccione', 'Amer Delic', 'Thierry Ascione', 'Sasa Tuksar', 'Stanislas Wawrinka', 'Edgardo Massa', 'Marcos Daniel', 'Todd Reid', 'Bjorn Rehnquist', 'Florin Mergea', 'Paul Baccanello', 'Philipp Petzschner', 'Philipp Kohlschreiber', 'William Lock', 'Rohan Bopanna', 'James Shortall', 'Rob Cheyne', 'Konstantin Don Gruber', 'Luis Manuel Flores', 'Guillermo Carter', 'Gustavo Ramirez', 'Eddy Gonzalez Gonzalez', 'Ashkan Shokoofi', 'Asif Ismail', 'Sergey Makashin', 'Shao Xuan Zeng', 'Bostjan Osabnik', 'Walid Jallali', 'Frederik Nielsen', 'Radoslav Lukaev', 'Ilija Bozoljac', 'Sean Cooper', 'Marc Vilanova', 'Matt Klinger', 'Michal Mertinak', 'Alexander Skrypko', 'Gwinyai Tongoona', 'Santiago Gonzalez', 'Jose Bernard', 'Ti Chen', 'Boris Pashanski', 'Iphton Louis', 'Bertrand Madsen', 'Mariusz Fyrstenberg', 'Radoslaw Nijaki', 'Haithem Abid', 'Salifu Mohammed', 'Joan Jimenez Guerra', 'Pau Gerbaud Farras', 'Young Jun Kim', 'Kepler Orellana', 'Laurent Hild', 'Joseph Victorino', 'Juan Pablo Guzman', 'Simone Vagnozzi', 'Santiago Ventura', 'Juan Monaco', 'Olivier Patience', 'Marco Chiudinelli', 'Andreas Seppi', 'Florian Mayer', 'Diogo Rocha', 'Potito Starace', 'Guillermo Garcia Lopez', 'Michael Ryderstedt', 'KJ Hippensteel', 'Jan Hernych', 'Matias Boeker', 'Novak Djokovic', 'Nicolas Devilder', 'Julien Jeanpierre', 'Marcos Baghdatis', 'Florent Serra', 'Gael Monfils', 'Jonathan Marray', 'Jo Wilfried Tsonga', 'Hao Lu', 'Stephane Robert', 'Fred Hemmes', 'Daniel Koellerer', 'Tomas Cakl', 'Brian Baker', 'Andreas Beck', 'Martin Vassallo Arguello', 'Igor Kunitsyn', 'Mark Hilton', 'Edouard Roger Vasselin', 'Melle Van Gemerden', 'Yuri Schukin', 'Ivo Minar', 'Wesley Whitehouse', 'Ian Flanagan', 'Andrei Karatchenia', 'Lefteris Alexiou', 'Paul Capdeville', 'Diego Cubas', 'Caio Zampieri', 'Matias Silva', 'Leonardo Kirche', 'Sonchat Ratiwatana', 'Sanchai Ratiwatana', 'Murad Inoyatov', 'Simon Rea', 'Sarvar Ikramov', 'Tai Wei Liu', 'Prima Simpatiaji', 'Alessio Di Mauro', 'Ilia Kushev', 'Yordan Kanev', 'Leonardo Tavares', 'Malek Jaziri', 'Frederico Gil', 'Kornel Bardoczky', 'Gyorgy Balazs', 'Kevin Sorensen', 'Mikhail Filima', 'Lamine Ouahab', 'Filip Urban', 'Gabriel Montilla', 'Ricardo Gonzalez Diaz', 'Ryan Russell', 'Daniel Langre', 'Pablo Cuevas', 'Federico Sansonetti', 'Michael Ray Pallares Gonzalez', 'Kyu Tae Im', 'Hyun Woo Nam', 'Will Farah Lebar', 'Xin Yuan Yu', 'Musaad Al Jazzaf', 'Woong Sun Jun', 'Jing Yi Li', 'Irakli Ushangishvili', 'Omar Hedayet', 'Deniss Pavlovs', 'Dmitro Tolok', 'Luis Haddock', 'Scott Willinsky', 'Olivier Sajous', 'Saeid Ahmadvand', 'Patrick Tierro', 'Victor Ionita', 'Uros Vico', 'Andy Murray', 'Nathan Healey', 'Bobby Reynolds', 'Gilles Simon', 'Robin Vik', 'Lukas Dlouhy', 'Francesco Aldi', 'Roko Karanusic', 'Michael Berrer', 'Teymuraz Gabashvili', 'Todd Widom', 'Peng Sun', 'Toshihide Matsui', 'Travis Rettenmaier', 'David Sherwood', 'Adam Chadaj', 'Ivan Navarro', 'Sergiy Stakhovsky', 'Francisco Fogues', 'Denis Gremelmayr', 'Scoville Jenkins', 'Rainer Eitzinger', 'Michael Lammer', 'Rob Steckley', 'Carlos Palencia', 'Victor Romero', 'Mauricio Echazu', 'Mehdi Tahiri', 'Dudi Sela', 'Denis Istomin', 'Farrukh Dustov', 'Go Soeda', 'Lado Chikhladze', 'Sebo Kiss', 'Guillaume Couillard', 'Denes Lukacs', 'Sergei Bubka', 'Slimane Saoudi', 'Grega Zemlja', 'Luka Gregorc', 'Rok Jarc', 'Rui Machado', 'Benjamin Balleret', 'Michal Przysiezny', 'Alexandros Jakupovic', 'Bruno Soares', 'Devin Mullings', 'Ryan Sweeting', 'Henry Estrella', 'Damar Johnson', 'Gd Jones', 'Abdullah Maqdas', 'Michael Leong', 'Juan Sebastian Langton', 'Sun Yong Kim Jr', 'Jae Sung An', 'Jose Rubin Statham', 'Karim Alayli', 'Evgeny Korolev', 'Dieter Kindlmann', 'Jeremy Chardy', 'Mathieu Montcourt', 'Juan Martin Del Potro', 'Victor Crivoi', 'Gustavo Marcaccio', 'Carlos Berlocq', 'Marin Cilic', 'Andreas Haider Maurer', 'Thiemo De Bakker', 'Fabio Fognini', 'Sam Querrey', 'Thiago Alves', 'Simon Greul', 'Mischa Zverev', 'Richard Bloomfield', 'Benjamin Becker', 'Diego Hartfield', 'Diego Junqueira', 'Jan Hajek', 'Gianluca Naso', 'Viktor Troicki', 'Tobias Clemens', 'Konstantin Kravchuk', 'Stefano Ianni', 'Dominik Meffert', 'Jorge Aguilar', 'Daniel Gimeno Traver', 'Mikhail Ledovskikh', 'Ivo Klec', 'Jean Christophe Faurel', 'Andre Ghem', 'Scott Oudsema', 'Brian Wilson', 'Sam Warburg', 'Andrea Stoppini', 'Phillip King', 'Ernests Gulbis', 'James Auckland', 'Lukas Lacko', 'Robin Haase', 'Bruno Echagaray', 'Juan Andres Gomez', 'Philip Bester', 'Daniel Vallverdu', 'Piero Luisi', 'Alan Mackin', 'Rabie Chaki', 'Juan Lorenzo Gonzalez', 'Jose Roberto Velasco', 'Santiago Giraldo', 'Carlos Salamanca', 'Israel Morales', 'Jesus Francisco Felix', 'Daniel King Turner', 'Dmitriy Makeyev', 'West Nott', 'Michael Lai', 'Elbert Sie', 'Faisal Aidil', 'Adam Thompson', 'Ahmad Rabeea Muhammad', 'Carl Sundberg', 'Lazar Magdincev', 'Predrag Rusevski', 'Louk Sorensen', 'Blaz Kavcic', 'Timo Nieminen', 'Abdelhak Hameurlaine', 'Stephen Nugent', 'Sherif Sabry', 'Izak Van Der Merwe', 'Fritz Wolmarans', 'Simon Stadler', 'Simone Bolelli', 'Denis Matsukevitch', 'John Isner', 'Donald Young', 'Wayne Odesnik', 'Steve Darcis', 'Laurent Recouderc', 'Juan Pablo Brzezicki', 'Flavio Cipolla', 'Alex Kuznetsov', 'Jamie Baker', 'Kei Nishikori', 'Martin Klizan', 'Karan Rastogi', 'Paolo Lorenzi', 'Pablo Andujar', 'Filip Prpic', 'Matthias Bachinger', 'Daniel Brands', 'Tobias Summerer', 'Pere Riba', 'Augustin Gensse', 'Marcel Granollers', 'Robert Smeets', 'Andrey Golubev', 'Nick Lindahl', 'Alun Jones', 'Jesse Levine', 'Roman Recarte', 'Peter Polansky', 'Juan Manuel Elizondo', 'Daniel Garza', 'Yuichi Sugita', 'Syrym Abdukhalikov', 'Pedro Sousa', 'Gastao Elias', 'Pavol Cervenak', 'Jesse Huta Galung', 'Julio Cesar Campozano', 'Jean Michel Durango', 'Rafael Arevalo', 'Jose Hernandez', 'Juan Carlos Ramirez', 'Rasid Winklaar', 'Nick Van Rosberg', 'Edgar Hernandez Perez', 'Benito Jose Suriano', 'Rouzbeh Kamran', 'Dawid Olejniczak', 'Adam Kellner', 'Frederick Sletting Johnsen', 'Juho Paukku', 'Karlis Lejnieks', 'Artem Smirnov', 'Photos Kallias', 'Eduardo Schwank', 'Massimo Dellacqua', 'Maximo Gonzalez', 'Sebastian Decoud', 'Kevin Anderson', 'Alexander Kudryavtsev', 'Josselin Ouanna', 'Adrian Cruciat', 'David Marrero', 'Thomaz Bellucci', 'Chris Eaton', 'Mikhail Kukushkin', 'Gabriel Trujillo Soler', 'Romain Jouan', 'Adrian Mannarino', 'Brendan Evans', 'Stephane Bohli', 'Ervin Eleskovic', 'Brian Dabul', 'Leonardo Mayer', 'Miguel Angel Lopez Jaen', 'Somdev Devvarman', 'Jean Claude Scherrer', 'Joao Sousa', 'Martin Slanar', 'Lukas Rosol', 'Samuel Groth', 'Ryan Harrison', 'Michail Elgin', 'Ryler Deheart', 'Bruno Rodriguez', 'Ilija Martinoski', 'Zhe Li', 'Martin Sayer', 'Christopher Rungkat', 'Romano Tatuhey', 'Ivan Endara', 'Timothy Neilly', 'Martin Pedersen', 'Rasmus Norby', 'Ivan Sergeyev', 'Conor Niland', 'Ruben Bemelmans', 'Filip Polasek', 'Jerzy Janowicz', 'Uladzimir Ignatik', 'Ricardo Mena', 'Yan Bai', 'Aditya Hari Sasongko', 'Clement Morel', 'Colin Obrien', 'Illya Marchenko', 'Henri Kontinen', 'Reda El Amrani', 'Janez Semrajc', 'Khalid Al Nabhani', 'Mohammed Al Nabhani', 'Alexander Blom', 'Mauricio Doria Medina', 'Mauricio Estivariz', 'Carsten Ball', 'Franco Ferreiro', 'Raven Klaasen', 'Alexandre Sidorenko', 'James Ward', 'Joshua Goodall', 'Brydan Klein', 'Grigor Dimitrov', 'Jesse Witten', 'Marsel Ilhan', 'Horacio Zeballos', 'Andrey Kuznetsov', 'Alexandr Dolgopolov', 'Ivan Dodig', 'Antonio Veic', 'David Guez', 'Marius Copil', 'Bernard Tomic', 'Guillaume Rufin', 'Juan Sebastian Cabal', 'Sergio Galdos', 'Bruno Agostinelli', 'Tsung Hua Yang', 'Dimitar Grabuloski', 'Andrei Vasilevski', 'Martijn Van Haasteren', 'Diego Galeano', 'Cesar Ramirez', 'Jose Benitez', 'Francis Casey Alcantara', 'Jalil Khan', 'Treat Conrad Huey', 'Mikal Oliver Statham', 'Ricardas Berankis', 'Dovydas Sakinis', 'Adrians Zguns', 'Eddy Chala', 'Tihomir Grozdanov', 'Henri Laaksonen', 'Ze Zhang', 'Mao Xin Gong', 'Attila Balazs', 'Radu Albot', 'Goran Tosic', 'Christopher Diaz Figueroa', 'Julen Uriguen', 'Cheuk Wai Hui', 'Brian Hung', 'Razlan Rawi', 'Tatsuma Ito', 'Yuki Bhambri', 'Daniel Munoz De La Nava', 'Filip Krajinovic', 'Tobias Kamke', 'Julian Reister', 'Martin Fischer', 'Petar Jelenic', 'Igor Sijsling', 'Benoit Paire', 'Dustin Brown', 'Adrian Ungur', 'Evgeny Donskoy', 'Joao Souza', 'Tim Smyczek', 'Albert Ramos', 'Matthew Ebden', 'Franco Skugor', 'Milos Raonic', 'Marinko Matosevic', 'Alexander Sadecky', 'Denis Kudla', 'Yannick Mertens', 'Aljaz Bedene', 'Guillermo Alcaide', 'Ricardo Hocevar', 'Laurynas Grigelis', 'James Mcgee', 'Barry King', 'Thomas Oger', 'Jurgen Zopp', 'Vladimir Ivanov', 'Aldin Setkic', 'Ismar Gorcic', 'Di Wu', 'Alvaro Raposo De Oliveira', 'Nicolas Salama', 'Ariel Behar', 'Marcelo Melo', 'Peerakiat Siriluethaiwattana', 'Kittipong Wachiramanowong', 'Sunu Wahyu Trijati', 'David Agung Susanto', 'Siu Fai Kelvin Lam', 'Harshana Godamanna', 'David Souto', 'Daniel Alejandro Lopez Cassaccia', 'Marcelo Arevalo', 'Rodrigo Rappaccioli', 'Hugo Dellien', 'Sebastien Vidal', 'Hsin Han Lee', 'Hyun Joon Kim', 'Yong Kyu Lim', 'Suk Young Jeong', 'Weerapat Doakmaiklee', 'Austen Childs', 'Michael Venus', 'Abd Hazli Bin Zainuddin', 'Dineshkanthan Thangarajah', 'Blaz Rola', 'Damir Dzumhur', 'Thomas Kromann', 'Soren Wedege', 'Javier Marti', 'Jonathan Dasnieres De Veigy', 'Guillermo Olaso', 'Rogerio Dutra Silva', 'Vasek Pospisil', 'Jack Sock', 'Dusan Lajovic', 'Alessandro Giannessi', 'David Goffin', 'Daniel Kosakowski', 'Michael Yani', 'Bastian Knittel', 'Cedrik Marcel Stebe', 'Pierre Ludovic Duclos', 'Dominic Thiem', 'Federico Delbonis', 'Thomas Schoorel', 'Maxime Teixeira', 'Sebastian Rieschick', 'Mathieu Rodrigues', 'Nicolas Renavand', 'Dimitar Kutrovsky', 'Alexander Bury', 'Marton Fucsovics', 'Jaak Poldma', 'Duilio Beretta', 'Luis Delgado', 'Alex Llompart', 'Artem Sitak', 'Soong Jae Cho', 'Marc Abdulnour', 'Jonathan Chu', 'Shahin Khaledan', 'Amir Weintraub', 'Marcin Gawron', 'Nikola Mektic', 'Marcus Daniell', 'Jeson Patrombon', 'Grzegorz Panfil', 'Chris Brandi', 'Gabriel Flores Ruiz', 'Gonzales Austin', 'Nicholas Sayer', 'Bruno Abdel Nour', 'Coenie Van Wyk', 'Dimitar Kuzmanov', 'Yassine Idmbarek', 'Hicham Khaddari', 'Theodoros Angelinos', 'Robert Farah', 'Colin Fleming', 'Mate Pavic', 'Marco Trungelliti', 'Philipp Oswald', 'Roberto Bautista Agut', 'Patrik

In [77]:
dff17 = pd.read_csv('../data/raw/atp_matches_2017.csv',delimiter=";")
dff17.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2017-M020,Brisbane,Hard,32,A,20170102,300,105777,7.0,NaN,...,7.0,4.0,0.0,69.0,49.0,36.0,9.0,12.0,2.0,5.0
1,2017-M020,Brisbane,Hard,32,A,20170102,299,105777,7.0,NaN,...,0.0,4.0,3.0,61.0,28.0,24.0,16.0,10.0,2.0,4.0
2,2017-M020,Brisbane,Hard,32,A,20170102,298,105453,3.0,NaN,...,5.0,9.0,2.0,61.0,37.0,27.0,10.0,10.0,0.0,2.0
3,2017-M020,Brisbane,Hard,32,A,20170102,297,105683,1.0,NaN,...,7.0,4.0,0.0,84.0,61.0,39.0,14.0,14.0,2.0,4.0
4,2017-M020,Brisbane,Hard,32,A,20170102,296,105777,7.0,NaN,...,14.0,6.0,5.0,82.0,37.0,29.0,24.0,14.0,4.0,7.0

In [78]:
dff16 = pd.read_csv('../data/raw/atp_matches_2016.csv',delimiter=";")
dff16.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2016-M020,Brisbane,Hard,32.0,A,20160104.0,300.0,105683.0,4.0,NaN,...,1.0,7.0,3.0,61.0,34.0,25.0,14.0,10.0,3.0,5.0
1,2016-M020,Brisbane,Hard,32.0,A,20160104.0,299.0,103819.0,1.0,NaN,...,1.0,2.0,4.0,55.0,31.0,18.0,9.0,8.0,2.0,6.0
2,2016-M020,Brisbane,Hard,32.0,A,20160104.0,298.0,105683.0,4.0,NaN,...,4.0,10.0,3.0,84.0,54.0,41.0,16.0,12.0,2.0,2.0
3,2016-M020,Brisbane,Hard,32.0,A,20160104.0,297.0,103819.0,1.0,NaN,...,1.0,8.0,2.0,104.0,62.0,46.0,21.0,16.0,8.0,11.0
4,2016-M020,Brisbane,Hard,32.0,A,20160104.0,296.0,106233.0,8.0,NaN,...,2.0,11.0,2.0,98.0,52.0,41.0,27.0,15.0,7.0,8.0

In [79]:
dff15 = pd.read_csv('../data/raw/atp_matches_2015.csv',delimiter=",")
dff15.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2015-329,Tokyo,Hard,32,A,20151005,1,104527,1.0,NaN,...,1.0,2.0,2.0,71.0,46.0,33.0,10.0,10.0,2.0,5.0
1,2015-329,Tokyo,Hard,32,A,20151005,2,105147,NaN,WC,...,14.0,1.0,4.0,96.0,52.0,25.0,23.0,13.0,12.0,19.0
2,2015-329,Tokyo,Hard,32,A,20151005,3,105572,NaN,Q,...,7.0,15.0,7.0,128.0,74.0,60.0,27.0,18.0,9.0,11.0
3,2015-329,Tokyo,Hard,32,A,20151005,4,105311,NaN,NaN,...,6.0,9.0,5.0,85.0,42.0,27.0,21.0,13.0,4.0,8.0
4,2015-329,Tokyo,Hard,32,A,20151005,5,104468,3.0,NaN,...,6.0,0.0,5.0,61.0,33.0,24.0,10.0,10.0,1.0,5.0